.close{
  margin-left: 30px;
  width: 20px;
  height: 20px;
  background: transparent;
  position: relative;
  outline: none;
  border: none;
}

.close:active{
  background: transparent;
}

.close::before{
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 20px;
  height: 2px;
  background: #000;
  transform: rotate(-45deg);
}
.close::after {
  position: absolute;
  content: "";
  bottom: 9px;
  right: 0;
  width: 20px;
  height: 2px;
  background: #000;
  transform: rotate(45deg);
}